body {
    background-color: black;
    font-family: arial;
    color: white;
  }
  
  h1 {
    color: grey;
    font-family: verdana;
    text-align: center;
  }
  
  .maindiv {
    background-color: white;
    color: black;
    width: 500px;
    height: 350px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    margin: auto;
    position: relative;
  }
  
  .sec {
    text-align: left;
    padding: 10px;
  }
  
  .result {
    background-color: #ffff00;
  }
  
  label {
    width: 100px;
    display: inline-block;
  }
  
  footer {
    position: absolute;
    bottom: 10px;
    font-size: 18px;
    text-align: left;
  }
  
  #computed_result {
    text-align: left;
    padding-left: 10px;
  }
  
  .input_wrap {
    padding: 10px;
  }
  